<div class="foo-allcontainer">
    <div class="foo-boxcontainer">
        <div class="foo-box">
            <h2>Customer Service</h2>
            <p>Our customer service provides answers to frequently asked questions and offers help, instructions, and advice for various situations.</p>
        </div>
        <div class="foo-box">
            <h2>Contact Information</h2>
            <p>Contact details and office hours</p>
        </div>
        <div class="foo-box">
            <h2>Resources</h2>
            <div class="foo-list">
                <ul>
                    <li><a href="#">Blog Guidelines</a></li>
                    <li><a href="#">Advertising Info</a></li>
                    <li><a href="#">Submission Policy</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Writing Tips</a></li>
                </ul>
            </div>
        </div>
        <div class="foo-box">
            <h2>About Us</h2>
            <div class="foo-list">
                <ul>
                    <li><a href="#">About the Blog</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Cookie Settings</a></li>
                    <li><a href="#">Sustainability</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="foo-created">
        <em>© <%= new Date().getFullYear() %> This blog was created and designed by @Eskovaan</em>
    </div>
</div>